.layout {
    transition: transform 1s ease-in-out;
}

.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 100;
    padding: 20px 20px;
    justify-self: center;
    height: 130px;
    background-color: #CCCCCC;
    color:black;
    font-size: 24px;
    font-weight: 600;
}

.indicator {
    display: flex;
    gap: 40px;
    align-self: center;
    align-items: center;

    span {
        display: inline-block;
        padding: 10px 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: #D09064;
        }
    }
}


.highlight {
    position: absolute;
    height: 7px;
    border-radius: 5px;
    background-color: #A96036;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}