//////////////
/// section
///
 
.section__container {
    position: relative;
    padding: 130px;
    width: 100%;
    height: 100vh;
    background-color: #A96036;

    display: flex;
    flex-direction: column;
    
    h2 {
        font-size: 64px;
        font-weight: 900;
        align-self: flex-end;
        color: #5C280A;
        text-shadow: 2px 2px 2px black;
    }
}

.section__presentation {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
    display: flex;
    background-color: #F2E4CF
}

///////////////
/// profile
///
  
.profile__container {
    display: flex;
    padding: 40px 20px 20px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    width: 400px;
    background-color: #F2E4CF;
    color: black;
    text-align: center;
    box-shadow: 1px 1px 4px black;
    font-weight: 700;
    word-break: keep-all;
    span {
        display: inline-block;
    }
}

.profile__image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
}
///////////////
/// contents
/// 

.contents__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

////////////////
/// timeLine
/// 

.timeLine__container {
    --timeLine--gap: 130px;
    --timeLine--dot--radius: 20px;

    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 10px;
    gap: 200px;
    background-color: transparent;

    .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 72px;
    }
}

.timeLine {
    display: flex;
    flex-wrap: wrap;
    line-height: 10px;
    margin: auto;
    gap: var(--timeLine--gap);
    background-color: transparent;
}

.timeLine__dot {
    position: relative;
    display: inline-block;
    width: var(--timeLine--dot--radius);
    height: var(--timeLine--dot--radius);
    background-color: rgb(128, 128, 128);
    border-radius: 50%;

    &::after {
        content: "";
        background-color: rgb(128, 128, 128, 0.5);
        position: absolute;
        top: 50%;
        left: 100%;
        width: var(--timeLine--gap);
        height: 2px;
        transform: translateY(-50%);
    }

    &:last-child::after {
        display: none;
    }
}

.timeLine__text {
    position: absolute;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    top: -30px;
    left: 50%;
    transform: translateX(-50%)
}

.timeLine__time {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;

    bottom: -30px; /* 짝수 번째 점 아래로 텍스트 배치 */
    left: 50%;
    transform: translateX(-50%);
}

/////////////
/// skillSet
/// 

.skillSet__container {
    width: 100%;
    padding: 0 24px 12px 24px;
    
    .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 72px;
    }
}

.skillSet__box {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 24px 12px;
    border-radius: 12px;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    img {
        width: 96px;
        height: 96px;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    line-height: 32px;
}